[Desktop Entry]
Encoding=UTF-8
Name=Renamedcoin
Comment=Renamedcoin P2P Cryptocurrency
Comment[fr]=Renamedcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Renamedcoin, eşten eşe kriptografik sanal para birimi
Exec=renamedcoin-qt %u
Terminal=false
Type=Application
Icon=renamedcoin128
MimeType=x-scheme-handler/renamedcoin;
Categories=Office;Finance;
